<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>MM | Motorepuestos Mora</title>
</head>
<body>
    <header>
        <div class="logo_container">
            <img src="/img/logo-transparent.png" alt="Logo">
        </div>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="/"><span>INICIO</span></a></li>
                <li><a href="/users"><span>USUARIOS</span></a></li>
                <li><a href="/products"><span>PRODUCTOS</span></a></li>
            </ul>
        </nav>
    </header>